name: Check pta2002 plugins

on:
  schedule:
    - cron: "0 0 * * fri"
  workflow_dispatch:

jobs:
  fetch-new-plugins:
    runs-on: ubuntu-latest
    name: Check if pta2002 has plugins that we do not have
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_ACCESS }}
          ref: ${{ github.head_ref }}
      - run: |
          ./bin/check_pta.sh
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS }}
